<div class="jumbotron">
    <h1>Northwind Demo</h1>
    <p class="lead">Northwind Demo is a demo app for managing of the Northwind Database.</p>
    <p>
        <a href="/northwind/#/category/list" class="btn btn-primary btn-lg">Category</a>
        <a href="/northwind/#/product/list" class="btn btn-primary btn-lg">Products</a>
        <a href="/northwind/#/supplier/list" class="btn btn-primary btn-lg">Supplier</a>
        <a href="/northwind/#/report/orders" class="btn btn-primary btn-lg">Orders Report</a>        
    </p>
    <p>
        <a href="~/tests/jasmine-test/SpecRunner.html" class="btn btn-danger btn-lg">Unit Tests</a>        
    </p>
</div>

