<div class="jumbotron">
    <h1>Northwind Demo</h1>
    <p class="lead">KMC Northwind Demo is a demo app for managing of the Northwind Database.</p>
    <p>
        <a href="/northwind/#/category/list" class="btn btn-primary btn-lg">Categories</a>
        <a href="/northwind/#/product/list" class="btn btn-primary btn-lg">Products</a>
        <a href="/northwind/#/supplier/list" class="btn btn-primary btn-lg">Suppliers</a>
    </p>
</div>

